body, html {
  width: 100%;
}

.champ-box {
  display: flex;
  justify-content: center;
}
.champ-card {
  border-radius: 25px;
  cursor: pointer;
}
.champ-portrait {
  width: 70%;
  border-radius: 50%;
}

.modal-title {

}
.modal-body {

}
.mana-bar {
  width: 180px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 35px;
  background-color: lightgray;
}
.mana-bar-filled {
  height: 100%;
  background-color: blue;

}
.modal-footer {

}